<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.trainschedule">

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.train.TrainResultActivity"/>
        <activity android:name=".module.station.StationResultActivity"/>
        <activity android:name=".module.activity.LicenseActivity"/>
        <activity android:name=".module.activity.AboutActivity"/>
        <activity android:name=".module.activity.SupportActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>